{% extends 'index.html' %}

{% block content%}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class='form' > 
            <div>
                <div>
                    <label for="id">id:</label><br>
                    <input type="text" name="id" class="form-control" style="width: 100px; display:inline-block;" id="id_id">
                </div>
            {{form}}
                <div>
                    <label for="tel">Телефон:</label><br>
                    <input type="text" name="tel" class="form-control" style="width: 165px; display:inline-block;" id="id_tel">
                </div>
            </div>
            <div align="right" style="margin-bottom: 10px; margin-right: 66px; display: flex; flex-wrap: nowrap; justify-content: space-between; width: 100%">
                <input type="submit" name="search" class="btn btn-outline-success" value="Поиск">
                <input type="submit" name="add" class="btn btn-outline-primary" value="Добавить">
                <input type="submit" name="change" class="btn btn-outline-warning" value="Изменить">
                <input type="submit" name="delete" class="btn btn-outline-danger" value="Удалить">
            </div>
        </div>
    </form>

    <table class="table table-bordered">
        <tr class="row text-center" style="flex-wrap: nowrap">
            <th class="col">id</th>
            <th class="col"><a class='link' href="{% url 'spravApp:ParentTable' 'Fam'%}">Фамилия</a></th>
            <th class="col"><a class='link' href="{% url 'spravApp:ParentTable' 'Name'%}">Имя</a></th>
            <th class="col"><a class='link' href="{% url 'spravApp:ParentTable' 'Otc'%}">Отчество</a></th>
            <th class="col"><a class='link' href="{% url 'spravApp:ParentTable' 'Street'%}">Улица</a></th>
            <th class="col">Дом</th>
            <th class="col">Корпус</th>
            <th class="col">Квартира</th>
            <th class="col">Телефон</th>
        </tr>
        {% for MainItem in MainItems %}
        <tr class="row text-center" style="flex-wrap: nowrap">
            <td class="col">{{MainItem.id}}</td>
            <td class="col">{{MainItem.fam}}</td>
            <td class="col">{{MainItem.name}}</td>
            <td class="col">{{MainItem.otc}}</td>
            <td class="col">{{MainItem.street}}</td>
            <td class="col">{{MainItem.bldn}}</td>
            <td class="col">{{MainItem.bldn_k}}</td>
            <td class="col">{{MainItem.appr}}</td>
            <td class="col">
                {% if MainItem.tel%}
                    {% for phone in MainItem.tel%}
                    {{phone}}<hr>
                    {%endfor%}
                {%endif%}
            </td>
        </tr>
        {% endfor %}
    </table> 
</div>
{% endblock %} 